---
import { css } from '../../styled-system/css';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <div
    class={css({
      maxW: 'token(breakpoints.sm)',
      minH: '100%',
      mx: 'auto',
    })}
  >
    hello
  </div>
</MainLayout>
