---
import { getCollection } from 'astro:content';
import { css } from '../../styled-system/css';
import { circle, flex, grid } from '../../styled-system/patterns';
import MainLayout from '../layouts/MainLayout.astro';

const works = await getCollection('works');
---

<MainLayout>
  <div
    class={css({
      maxW: 'token(breakpoints.sm)',
      mx: 'auto',
    })}
  >
    <div
      class={grid({
        gridTemplateColumns: 'auto 1fr',
        columnGap: 6,
        mt: 32,
      })}
    >
      <img
        class={circle({
          size: '16',
        })}
        src="/img/g4rds.webp"
        alt=""
      />
      <div class={flex({ alignItems: 'center' })}>
        <h1
          class={css({
            color: 'text.light',
            fontSize: '1.5rem',
            fontWeight: 600,
          })}
        >
          G4RDS
        </h1>
      </div>
      <div></div>
      <div
        class={css({
          color: 'text.dark',
          '& > p:not(:first-child)': {
            mt: 2,
          },
        })}
      >
        <p>
          Front-End Engineer embracing the intersection of design and coding.
        </p>
        <p>
          Passionate about product development and creating intuitive user
          experiences.
        </p>
      </div>
    </div>
    <section
      class={css({
        mt: 32,
      })}
    >
      <h2
        class={css({
          color: 'text.light',
          fontSize: '1.5rem',
          fontWeight: 600,
        })}
      >
        Works
      </h2>
      <ul
        class={grid({
          mt: 4,
          gridTemplateColumns: 'repeat(auto-fill, minmax(16rem, 1fr))',
        })}
      >
        {
          works.map((work) => (
            <li>
              <a
                href={`/works/${work.slug}`}
                class={css({
                  display: 'block',
                  p: 4,
                  borderRadius: 'md',
                  bg: 'gray.900',
                })}
              >
                <img
                  src={work.data.eyeCatchUrl}
                  class={css({
                    display: 'block',
                    width: '100%',
                    bg: 'gray.800',
                    borderRadius: 'md',
                    aspectRatio: '16 / 9',
                    overflow: 'hidden',
                  })}
                />
                <div class={css({ mt: 4 })}>
                  <h3 class={css({ color: 'text.base', fontWeight: 600 })}>
                    {work.data.title}
                  </h3>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</MainLayout>
